---
---

@import "{{ site.theme }}";

@media all and (min-width: 961px) {
  /*styles for width more than narrow desktop browsers or iPad landscape */
  header, footer {
    width: 220px;
  }
  
  section {
    width: 600px;
  }
}

ul li ul {
  margin: 0 0 0;
}
