---
---

@import "{{ site.theme }}";

@media all and (min-width: 961px) {
  /*styles for width more than narrow desktop browsers or iPad landscape */
  header, footer {
    width: 220px;
  }
  
  section {
    width: 600px;
  }
}

ul li ul {
  margin: 0 0 0;
}

table.gsc-search-box td.gsc-input, table.gsc-search-box td.gsc-search-button {
  padding: 0 0 0 0;
}

div.gsc-control-cse {
  padding: 0 0 1em 0;
}

td.gsc-clear-button {
  display: none;
}
