---
---

@import "{{ site.theme }}";

header, footer {
  width: 200px;
}

@media all and (min-width: 900px) {
  /*styles for width more than narrow desktop browsers or iPad landscape */
  section {
    width: 600px;
  }
}

ul li ul {
  margin: 0 0 0;
}
