---
layout: default
---

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

{% if page.author %}
  <p class="view"><small>by {{ page.author }}</small></p>
{% endif %}

{{content}}

{% if page.systems %}
  <h2>Verified systems</h2>
  <ul>
  {% for system in page.systems %}
    <li>{{system}}</li>
  {% endfor %}
  </ul>
{% endif %}

<h2>Provide feedback</h2>

<p>If you have comments or suggestions, please feel free to:
<ul>
    <li>Raise an issue in <a href="https://github.com/SAPhow/SAP.how/issues">our GitHub Repository</a>.</li>
    <li>Reply on <a href="https://twitter.com/SAP_how">X/Twitter</a>.</li>
    <li>Leave a comment on <a href="https://t.me/saphow">our Telegram Channel</a>.</li>
</ul>

<!--{% if page.tags %}
  <small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}-->
